<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todoapp</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">

  <!-- App Icon and Mobile Meta -->
  <link rel="icon" type="image/svg+xml" href="icon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="icon.svg">
  <meta name="theme-color" content="#4CAF50">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>

<body>
  <div id="app">
    <div class="card container mt-5">
      <h3 class="text-center">To Do List</h3>
      <hr>
      <div class="d-flex justify-content-center">
      <input type="text" v-model="newTodo" placeholder="Add Item" @keyup.enter="addTodo">
      <button :disabled="searchTodo" @click="addTodo" class="addbutton">Add</button>
      <button v-show="todos.length > 0" @click="deleteAll" class="delete">Delete All</button>

      
    </div><br> <p class="text-center" v-if="searchTodo">Already in List!</p>
    <p v-else> </p>
    <hr>
    <ul>
      <li v-for="todo in todos" :key="todo.id" @click="todo.completed=!todo.completed" :class="{ completed: todo.completed }" class="d-flex justify-content-between">
        {{ todo.text }}  <button @click.stop="removeTodo(todo.id)" class="delete">Delete</button>
      </li>
    </ul>
    </div>
    
  </div>
</body>
<script src="main.js"></script>

</html>